In [5]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # data visualization library  
import matplotlib.pyplot as plt
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory
import time
from subprocess import check_output
print(check_output(["ls", "input/"]).decode("utf8"))

# Any results you write to the current directory are saved as output.

test_electricity.csv
train_electricity.csv

In [6]:
df = pd.read_csv("input/train_electricity.csv")

print("Dataset has", len(df), "entries.")

print(f"\n\t{'Column':20s} | {'Type':8s} | {'Min':12s} | {'Max':12s}\n")
for col_name in df.columns:
    col = df[col_name]
    print(f"\t{col_name:20s} | {str(col.dtype):8s} | {col.min():12.1f} | {col.max():12.1f}")

Dataset has 419403 entries.

	Column               | Type     | Min          | Max

	Date                 | int64    | 1262487660.0 | 1514947775.0
	Consumption_MW       | float64  |         44.0 |      26209.0
	Coal_MW              | float64  |       -485.0 |       5702.0
	Gas_MW               | float64  |       -414.0 |       2666.0
	Hidroelectric_MW     | float64  |          0.0 |       4728.0
	Nuclear_MW           | float64  |          0.0 |       1450.0
	Wind_MW              | float64  |       -521.0 |       7944.0
	Solar_MW             | float64  |         -6.0 |        859.0
	Biomass_MW           | float64  |          0.0 |        110.0
	Production_MW        | float64  |          0.0 |      11295.0

In [8]:
df.head()

,Date,Consumption_MW,Coal_MW,Gas_MW,Hidroelectric_MW,Nuclear_MW,Wind_MW,Solar_MW,Biomass_MW,Production_MW
0,1262487660,5302.0,1754.0,1144.0,1391.0,706.0,0.0,0.0,0.0,4995.0
1,1262488200,5318.0,1777.0,1145.0,1468.0,708.0,0.0,0.0,0.0,5097.0
2,1262488800,5268.0,1743.0,1139.0,1361.0,708.0,0.0,0.0,0.0,4951.0
3,1262489400,5358.0,1759.0,1142.0,1449.0,707.0,0.0,0.0,0.0,5057.0
4,1262490060,5327.0,1764.0,1142.0,1417.0,709.0,0.0,0.0,0.0,5031.0

In [9]:
# feature names as a list
col = df.columns       # .columns gives columns names in data 
print(col)

Index(['Date', 'Consumption_MW', 'Coal_MW', 'Gas_MW', 'Hidroelectric_MW',
       'Nuclear_MW', 'Wind_MW', 'Solar_MW', 'Biomass_MW', 'Production_MW'],
      dtype='object')